build/
cmake-build-*/
.idea/
.vscode/
.vscode-upload.json
domains/ai/images/captcha/input/
domains/ai/images/captcha/output/
domains/ai/images/captcha/model.txt
domains/ai/ml/laptop-battery-life/trainingdata.txt
